

body{
  background-color: #1d4981;
  text-align: center;
  display: block;
  min-height: 100vh;
}


h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }


h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }


p { color: #f8f8f8; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }


a { color: #c8c8c8; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }


ul {
  background: #3399ff;
  padding: 20px;
  width: 97%;
  display: block;
}
ul:empty{
  display: none;
}

ul .li-full {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  display: block;
}

ul li{
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
